#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  cursor: default;
  user-select: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.profile-img {
  position: relative;
  top: -60px;
  z-index: -1;
}

.glowing-underline {
  position: relative;
}

span.glowing-underline:after,
a.glowing-underline:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #4de39c;
  border-radius: 10px;
}

a.glowing-underline:after {
  bottom: -10px;
  height: 3px;
}

.divider {
  background-color: #676767;
  height: 1px;
  border: 0;
}
